.footer {
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 0%;
}

.footer__name {
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 24px;
  margin: 0;
}
